{{outlet}}

<form>
  <div class="input-group">
    <label>Name</label>
    {{input value=coffee.name}}
  </div>

  <div class="input-group">
    <label>Origin</label>
    {{input value=coffee.origin}}
  </div>

  <div class="input-group">
    <label>Purpose</label>
    {{input value=coffee.purpose}}
  </div>

</form>