{{outlet}}

<h2>Coffee</h2>

{{#each model as |coffee|}}
  <div class="supply-chain-component">
    <div class="component-content">
      <h3>{{coffee.name}}</h3>
      <h4>{{coffee.origin}}</h4>
      <p>{{#link-to "coffee.show" coffee.id}}Learn More{{/link-to}}</p>
    </div>
  </div>
{{/each}}