{{outlet}}

<h2>Coffee Runs The World</h2>

<p>
  Lots of us drink coffee on the regular. However, for it being a vastly
  consumed product, we don't ever think a whole lot about how it comes to our cup.
</p>

<p>
  Recent waves in coffee production have championed the farmer. This is so cool!
  Yet, I think we can use this momentum to better shine a light on <i>every part</i>
  of the production, shipping, roasting, and creation process.
</p>

<p>
  Here's a list of the coffee's we currently provide or have provided in the past.
  We've filled out the supply chains to the best extent possible. However,
  we're always iterating and updating on the process.
</p>

{{#each model as |coffee|}}
  <div class="supply-chain-component">
    <div class="component-content">
      <h3>{{coffee.name}}</h3>
      <h4>{{coffee.origin}}</h4>
      <p>{{#link-to "coffee.show" coffee.id}}Read More{{/link-to}}</p>
    </div>
  </div>
{{/each}}