.good-component {
    .title {
        font-size: 1.5em;
    }

    .component-content {
        padding: 10px;
    }

    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.good-form {
    
    .input-group {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input {
        font-size: 1.5em;
        border: 1px solid black;
        border-radius: 6px;
        padding: 5px;
    }
    
    textarea {
        width: 100%;
        font-size: 1.5em;
        border: 1px solid black;
        border-radius: 6px;
        padding: 5px;
    }

}