<<<<<<< HEAD
<h2>Ember app</h2>
=======
{{!-- The following component displays Ember's default welcome message. --}}
<WelcomePage />
{{!-- Feel free to remove this! --}}
>>>>>>> 06e598c... message

{{#nav-bar}}{{/nav-bar}}

{{outlet}}
