<h1>This is Coffee:Print.</h1>
<p>
  We're a community dedicated to celebrating the intersection of great coffee and ethical supply chains.
</p>

<p>
  So often, we're told about how a coffee is ethically sourced. While this is worth celebrating with labels
  like _Fair Trade_, we believe that we can do more to communicate this to the customer. Its worth understanding
  what's happening when you buy coffee
</p>

<h2>Quality</h2>

<p>
  A conversation I found myself having so often was around how I really liked a coffee or a product. However,
  I really didn't have a good idea of whether I was doing good or not by consuming it. Many roasters 
  talk about the direct realtion they have with certain farmers. This is such a great trend from the past 
  couple of years in coffee. However, its worth emphasizing to employeess and customers why this relationship 
  matters.
</p>

<p>
  Coffee:Print desired to further the farmer / buyer relationship by providing a honest commentary on 
  why it matters but how it can be improved. From this, we want to create a blueprint for a successful business
  but also a boundary-pushing community that helps ethical coffee make it into more homes and hearts.
</p>

<h2>Accountability</h2>

<p>
  We have ethical sourcing standards when it comes to bringing you our favorite coffee bundles. However,
  there's always ways we could be better. We need to bring to light the ways we fall short, but also celebrate
  where we're getting it right.
</p>

<p>
  Our goal is to provide a clear vision of ethical creation and consumption to our customers, while 
  encouraging others to evaluate their supply chains - in every aspect of their business
</p>