{{yield}}

<div class="navigation level">
  <div class="level-left">
    <h2 class="logo">{{#link-to 'application'}}COFFEE + PRINT{{/link-to}}</h2>
  </div>
  <div class="level-right">
    <ul>
      <li>{{#link-to 'coffee.index'}}COFFEE{{/link-to}}</li>
      <li>{{#link-to 'print.index'}}PRINT{{/link-to}}</li>
      <li>{{#link-to 'training.index'}}LEARNING{{/link-to}}</li>
    </ul>
  </div>
</div>