{{yield}}

<div class="navigation">
  <h2 class="logo">{{#link-to 'application'}}COFFEE + PRINT{{/link-to}}</h2>
  <ul>
    <li>{{#link-to 'coffee.index'}}Coffee{{/link-to}}</li>
    <li>{{#link-to 'print.index'}}Print{{/link-to}}</li>
    <li>{{#link-to 'training.index'}}Training{{/link-to}}</li>
  </ul>
</div>