{{yield}}

<div class="navigation">
  <h2 class="logo">{{#link-to 'application'}}COFFEE:PRINT{{/link-to}}</h2>
  <ul>
    <li>Coffee</li>
    <li>Print</li>
    <li>Training</li>
    <li>{{#link-to 'supply-chains.index'}}Supply Chains{{/link-to}}</li>
  </ul>
</div>